.plan-card {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 295px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;

  @include breakpointsMaxW($bp-991) {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  @include breakpointsMaxW($bp-768) {
    grid-template-columns: 1fr;
  
  }

  &__img {
    // clip-path: polygon(88% 0, 89% 39%, 100% 45%, 91% 59%, 91% 99%, 0 100%, 0 0);
    max-width: 450px;
    width: 100%;
    height: 294px;
    position: relative;

    &::after {
      font-family: $DINPro;
      @include elDef();
      right: -129px;
      top: 43px;
      font-size: 90px;
      font-weight: 900;
      color: #d9d9d9;
      counter-increment: number;
      content: counter(number, decimal-leading-zero);
      @include breakpointsMaxW($bp-container) {
        right: calc(
          -105px + (-129 - (-105)) * ((100vw - 991px) / (1270 - 991))
        );
      }

      @include breakpointsMaxW($bp-991) {
        display: none;
      }
    }

    img {
      @include img(cover);
      border-radius: 5px;
    }
  }

  &__info {
    max-width: 400px;
  }

  &__title {
    font-size: 25px;
    margin-bottom: 24px;
  }

  &__text {
    font-size: 18px;
  }
}
