<section class="descr">
  <div class="container">
    <div class="descr__wrapper">
      <div class="descr__preview">
        <img src="images/content/descr-img.jpg" alt="Человек штукатурит" />
      </div>
      <div class="descr__info">
        <h2 class="descr__title section-title">
          МАШИННАЯ <span>ШТУКАТУРКА</span> В МОСКВЕ
        </h2>
        <div class="descr__text">
          <p>
            Качественная машинная штукатурка стен (механизированная) по
            доступной цене за м2. Теперь можно заказать штукатурку станциями как
            в квартирах, для дома и конечно для больших объемов.
          </p>
          <p>
            Мы готовы оперативно выехать в любую точку Москвы и Московской
            области. Наша компания - этo 7 штукатурных станций и 11 бригад
            штукатуров, готовых приступить к штукатурке по Вашему звонку.
          </p>
        </div>

        <ul class="descr__list">
          <li class="descr__item descr__item--standard">
            Работаем по утвержденым стандартам
          </li>
          <li class="descr__item descr__item--treaty">
            Пред началом работ заключаем договор
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
