<section class="plan">
  <div class="container">
    <h2 class="plan__title section-title">
      <span>Схема работы</span> по нанесению машиной штукатурки
    </h2>

    <ol class="plan__list">
      <li class="plan__item">
        <article class="plan-card">
          <div class="plan-card__img">
            <img
              src="images/content/plan/1.png"
              alt="Расчет и бесплатный выезд
            замерщика на обьект"
            />
          </div>

          <div class="plan-card__info">
            <h3 class="plan-card__title">
              Расчет и бесплатный выезд замерщика на обьект
            </h3>

            <div class="plan-card__text">
              <p>
                Требуется машинная штукатурка в Москве или МО? Выезжаем и в
                другие районы Москвы. Замер и консультация бесплатно.
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="plan__item">
        <article class="plan-card">
          <div class="plan-card__img">
            <img
              src="images/content/plan/2.png"
              alt="Составляем подробную смету
              на все работы"
            />
          </div>

          <div class="plan-card__info">
            <h3 class="plan-card__title">
              Составляем подробную смету на все работы
            </h3>

            <div class="plan-card__text">
              <p>
                Мы составляем максимально полную смету (прайс) на услугу
                'машинная штукатурка', чтобы в будущем не было неприятных
                неожиданностей. Цена за квадратный метр.
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="plan__item">
        <article class="plan-card">
          <div class="plan-card__img">
            <img
              src="images/content/plan/3.png"
              alt="Дотавляем необходимые
              материалы"
            />
          </div>

          <div class="plan-card__info">
            <h3 class="plan-card__title">Дотавляем необходимые материалы</h3>

            <div class="plan-card__text">
              <p>
                Берем доставку необходимого оборудования и материалов на себя,
                чтобы штукатурка машинного нанесения, как можно меньше
                затрачивала Вашего личного времени.
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="plan__item">
        <article class="plan-card">
          <div class="plan-card__img">
            <img
              src="images/content/plan/4.png"
              alt="Выполняем работы по нанесению
              машинной штукатурки"
            />
          </div>

          <div class="plan-card__info">
            <h3 class="plan-card__title">
              Выполняем работы по нанесению машинной штукатурки
            </h3>

            <div class="plan-card__text">
              <p>
                Штукатурка машинной выполняется в строгом соответствии со
                сметами ( все расценки) и строительными нормами, разумеется, с
                чистотой после себя.
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="plan__item">
        <article class="plan-card">
          <div class="plan-card__img">
            <img
              src="images/content/plan/5.png"
              alt="Расчет и бесплатный выезд
            замерщика на обьект"
            />
          </div>

          <div class="plan-card__info">
            <h3 class="plan-card__title">
              Принимаем оплату за выполненные работы
            </h3>

            <div class="plan-card__text">
              <p>
                Принимаем оплату после того, как заказчик принял работы и
                подписал все закрывающие документы.
              </p>
            </div>
          </div>
        </article>
      </li>
    </ol>
  </div>
</section>
