<section
  class="request"
  style="background-image: url('images/content/form-bg.jpg')"
>
  <div class="container">
    <div class="request__wrapper">
      <div class="request__offer">
        <h2 class="request__title section-title">
          <span class="color-accent">Оставьте заявку</span> на нанесение машиной
          штукатурки
        </h2>
        <div class="request__text">
          <p>
            Мы свяжемся с Вами в течение 5 минут, сообщим стоимость работ и
            договоримся о дате и времени для замерщика.
          </p>
        </div>
      </div>

      <div class="request__form">
        <form class="form">
          <div class="form__inner">
            <h3 class="form__title">ОСТАВЬТЕ СВОИ КОНТАКТНЫЕ ДАННЫЕ</h3>

            <lanel class="form__group">
              <input
                class="form__input"
                type="text"
                placeholder="Как к вам обращаться?"
                required
              />
            </lanel>
            <lanel class="form__group">
              <input
                class="form__input"
                type="email"
                placeholder="Ваша электронная почта"
                required
              />
            </lanel>
            <lanel class="form__group">
              <input
                class="form__input"
                type="tel"
                placeholder="Контактный телефон"
                required
              />
            </lanel>

            <button class="form__btn btn" type="submit">Оставить заявку</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
