<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews__title section-title">Что клиенты говорят о нас</h2>

    <div class="reviews__slider swiper">
      <ul class="reviews__slides swiper-wrapper">
        <li class="reviews__slide swiper-slide">
          <div class="reviews-card">
            <a
              class="reviews-card__link"
              data-fancybox="responsive"
              data-src="https://www.youtube.com/watch?v=FmrGz8qSyrk&t=540s"
            >
              <span>
                <svg width="20" height="20">
                  <use xlink:href="images/sprite.svg#play"></use>
                </svg>
              </span>
            </a>

            <div class="reviews-card__img">
              <img src="images/content/reviews/1.jpg" alt="Иван Иванов" />
            </div>

            <h3 class="reviews-card__title">Иван Иванов</h3>
            <div class="reviews-card__text">
              <p>Нанесение машинной штукатурки в коттедже</p>
            </div>
          </div>
        </li>
        <li class="reviews__slide swiper-slide">
          <div class="reviews-card">
            <a
              class="reviews-card__link"
              data-fancybox="responsive"
              data-src="https://www.youtube.com/watch?v=FmrGz8qSyrk&t=540s"
            >
              <span>
                <svg width="20" height="20">
                  <use xlink:href="images/sprite.svg#play"></use>
                </svg>
              </span>
            </a>

            <div class="reviews-card__img">
              <img src="images/content/reviews/2.jpg" alt="Иван Иванов" />
            </div>

            <h3 class="reviews-card__title">Иван Иванов</h3>
            <div class="reviews-card__text">
              <p>Нанесение машинной штукатурки в коттедже</p>
            </div>
          </div>
        </li>
        <li class="reviews__slide swiper-slide">
          <div class="reviews-card">
            <a
              class="reviews-card__link"
              data-fancybox="responsive"
              data-src="https://www.youtube.com/watch?v=FmrGz8qSyrk&t=540s"
            >
              <span>
                <svg width="20" height="20">
                  <use xlink:href="images/sprite.svg#play"></use>
                </svg>
              </span>
            </a>

            <div class="reviews-card__img">
              <img src="images/content/reviews/1.jpg" alt="Иван Иванов" />
            </div>

            <h3 class="reviews-card__title">Иван Иванов</h3>
            <div class="reviews-card__text">
              <p>Нанесение машинной штукатурки в коттедже</p>
            </div>
          </div>
        </li>
        <li class="reviews__slide swiper-slide">
          <div class="reviews-card">
            <a
              class="reviews-card__link"
              data-fancybox="responsive"
              data-src="https://www.youtube.com/watch?v=FmrGz8qSyrk&t=540s"
            >
              <span>
                <svg width="20" height="20">
                  <use xlink:href="images/sprite.svg#play"></use>
                </svg>
              </span>
            </a>

            <div class="reviews-card__img">
              <img src="images/content/reviews/2.jpg" alt="Иван Иванов" />
            </div>

            <h3 class="reviews-card__title">Иван Иванов</h3>
            <div class="reviews-card__text">
              <p>Нанесение машинной штукатурки в коттедже</p>
            </div>
          </div>
        </li>
        <li class="reviews__slide swiper-slide">
          <div class="reviews-card">
            <a
              class="reviews-card__link"
              data-fancybox="responsive"
              data-src="https://www.youtube.com/watch?v=FmrGz8qSyrk&t=540s"
            >
              <span>
                <svg width="20" height="20">
                  <use xlink:href="images/sprite.svg#play"></use>
                </svg>
              </span>
            </a>

            <div class="reviews-card__img">
              <img src="images/content/reviews/1.jpg" alt="Иван Иванов" />
            </div>

            <h3 class="reviews-card__title">Иван Иванов</h3>
            <div class="reviews-card__text">
              <p>Нанесение машинной штукатурки в коттедже</p>
            </div>
          </div>
        </li>
        <li class="reviews__slide swiper-slide">
          <div class="reviews-card">
            <a
              class="reviews-card__link"
              data-fancybox="responsive"
              data-src="https://www.youtube.com/watch?v=FmrGz8qSyrk&t=540s"
            >
              <span>
                <svg width="20" height="20">
                  <use xlink:href="images/sprite.svg#play"></use>
                </svg>
              </span>
            </a>

            <div class="reviews-card__img">
              <img src="images/content/reviews/2.jpg" alt="Иван Иванов" />
            </div>

            <h3 class="reviews-card__title">Иван Иванов</h3>
            <div class="reviews-card__text">
              <p>Нанесение машинной штукатурки в коттедже</p>
            </div>
          </div>
        </li>
      </ul>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<!-- <a class="video__video" data-fancybox="responsive" data-src="https://www.youtube.com/watch?v=FmrGz8qSyrk&t=540s"
style="background-image: url('/images/content/video-bg.jpg');">
<button class="video__play">
  <svg>
    <use xlink:href="images/sprite.svg#triangle"></use>
  </svg>
</button>
</a> -->
