<section class="types">
  <div class="container">
    <h2 class="types__title section-title">
      Наносим следующие виды <span>машинной штукатурки</span>
    </h2>

    <ul class="types__list">
      <li class="types__item">
        <div class="types__img">
          <img
            src="images/content/types/1.png"
            alt="Наносим следующие виды машинной штукатурки Штукатурка под обои и
         покраску"
          />
        </div>
        <span class="types__name">Штукатурка под обои и покраску </span>
      </li>
      <li class="types__item">
        <div class="types__img">
          <img
            src="images/content/types/2.png"
            alt="Наносим следующие виды машинной штукатурки Штукатурка под обои и
         покраску"
          />
        </div>
        <span class="types__name"> Штукатурка под плитку </span>
      </li>
      <li class="types__item">
        <div class="types__img">
          <img
            src="images/content/types/3.png"
            alt="Наносим следующие виды машинной штукатурки Штукатурка под обои и
         покраску"
          />
        </div>
        <span class="types__name"> Гипсовая или цементная </span>
      </li>
      <li class="types__item">
        <div class="types__img">
          <img
            src="images/content/types/4.png"
            alt="Наносим следующие виды машинной штукатурки Штукатурка под обои и
         покраску"
          />
        </div>
        <span class="types__name">
          Штукатурка <br />
          потолков
        </span>
      </li>
    </ul>
  </div>
</section>
