<section class="works" id="works">
  <div class="container">
    <h2 class="works__title section-title">Выполненные работы</h2>

    <div class="works__tabs tabs">
      <div class="tabs__top">
        <ul class="tabs__list">
          <li class="tabs__item">
            <button class="tabs__btn tabs__btn--active" type="button">
              Квартира
            </button>
          </li>
          <li class="tabs__item">
            <button class="tabs__btn" type="button">Частный дом</button>
          </li>
          <li class="tabs__item">
            <button class="tabs__btn" type="button">Коттедж</button>
          </li>
          <li class="tabs__item">
            <button class="tabs__btn" type="button">Таунхаус</button>
          </li>
        </ul>
      </div>

      <div class="tabs__content active">
        <div class="works-card">
          <div class="works-card__info">
            <div class="works-card__box">
              <h3 class="works-card__heading">О проекте</h3>

              <ul class="works-card__list">
                <li class="works-card__item">
                  <p class="works-card__text">Тип нанесения:</p>
                  <p class="works-card__quantity">Под обои и покраску</p>
                </li>
                <li class="works-card__item">
                  <p class="works-card__text">Стоимость работ:</p>
                  <p class="works-card__quantity">38 950 <span>руб</span></p>
                </li>
                <li class="works-card__item">
                  <p class="works-card__text">Срок выполнения:</p>
                  <p class="works-card__quantity">4 дня</p>
                </li>
                <li class="works-card__item">
                  <p class="works-card__text">Общая площадь по стенам:</p>
                  <p class="works-card__quantity">245 м<sup>2</sup></p>
                </li>
              </ul>
            </div>
            <div class="works-card__box">
              <h3 class="works-card__heading">Материалы</h3>

              <ul class="works-card__list">
                <li class="works-card__item">
                  <p class="works-card__text">Штукатурка</p>
                  <p class="works-card__quantity">460 кг</p>
                </li>
                <li class="works-card__item">
                  <p class="works-card__text">Грунтовка</p>
                  <p class="works-card__quantity">20 л</p>
                </li>
                <li class="works-card__item">
                  <p class="works-card__text">Армированные углы</p>
                  <p class="works-card__quantity">12 шт.</p>
                </li>
              </ul>
            </div>

            <button class="works-card__btn btn btn-consultation" type="button">
              У меня охожий объект
            </button>
          </div>
          <div class="works-card__preview">
            <img src="images/content/works/1.jpg" alt="Квартира" />
          </div>
        </div>
      </div>
      <div class="tabs__content">
        <div class="works-card">
          <div class="works-card__info">
            <div class="works-card__box">
              <h3 class="works-card__heading">О проекте</h3>

              <ul class="works-card__list">
                <li class="works-card__item">
                  <p class="works-card__text">Тип нанесения:</p>
                  <p class="works-card__quantity">Под обои и покраску</p>
                </li>
                <li class="works-card__item">
                  <p class="works-card__text">Стоимость работ:</p>
                  <p class="works-card__quantity">38 950 <span>руб</span></p>
                </li>
                <li class="works-card__item">
                  <p class="works-card__text">Срок выполнения:</p>
                  <p class="works-card__quantity">4 дня</p>
                </li>
                <li class="works-card__item">
                  <p class="works-card__text">Общая площадь по стенам:</p>
                  <p class="works-card__quantity">245 м<sup>2</sup></p>
                </li>
              </ul>
            </div>
            <div class="works-card__box">
              <h3 class="works-card__heading">Материалы</h3>

              <ul class="works-card__list">
                <li class="works-card__item">
                  <p class="works-card__text">Штукатурка</p>
                  <p class="works-card__quantity">460 кг</p>
                </li>
                <li class="works-card__item">
                  <p class="works-card__text">Грунтовка</p>
                  <p class="works-card__quantity">20 л</p>
                </li>
                <li class="works-card__item">
                  <p class="works-card__text">Армированные углы</p>
                  <p class="works-card__quantity">12 шт.</p>
                </li>
              </ul>
            </div>

            <button class="works-card__btn btn btn-consultation" type="button">
              У меня охожий объект
            </button>
          </div>
          <div class="works-card__preview">
            <img src="images/content/hero/slide-1.jpg" alt="Квартира" />
          </div>
        </div>
      </div>
      <div class="tabs__content">
        <div class="works-card">
          <div class="works-card__info">
            <div class="works-card__box">
              <h3 class="works-card__heading">О проекте</h3>

              <ul class="works-card__list">
                <li class="works-card__item">
                  <p class="works-card__text">Тип нанесения:</p>
                  <p class="works-card__quantity">Под обои и покраску</p>
                </li>
                <li class="works-card__item">
                  <p class="works-card__text">Стоимость работ:</p>
                  <p class="works-card__quantity">38 950 <span>руб</span></p>
                </li>
                <li class="works-card__item">
                  <p class="works-card__text">Срок выполнения:</p>
                  <p class="works-card__quantity">4 дня</p>
                </li>
                <li class="works-card__item">
                  <p class="works-card__text">Общая площадь по стенам:</p>
                  <p class="works-card__quantity">245 м<sup>2</sup></p>
                </li>
              </ul>
            </div>
            <div class="works-card__box">
              <h3 class="works-card__heading">Материалы</h3>

              <ul class="works-card__list">
                <li class="works-card__item">
                  <p class="works-card__text">Штукатурка</p>
                  <p class="works-card__quantity">460 кг</p>
                </li>
                <li class="works-card__item">
                  <p class="works-card__text">Грунтовка</p>
                  <p class="works-card__quantity">20 л</p>
                </li>
                <li class="works-card__item">
                  <p class="works-card__text">Армированные углы</p>
                  <p class="works-card__quantity">12 шт.</p>
                </li>
              </ul>
            </div>

            <button class="works-card__btn btn btn-consultation" type="button">
              У меня охожий объект
            </button>
          </div>
          <div class="works-card__preview">
            <img src="images/content/descr-img.jpg" alt="Квартира" />
          </div>
        </div>
      </div>
      <div class="tabs__content">
        <div class="works-card">
          <div class="works-card__info">
            <div class="works-card__box">
              <h3 class="works-card__heading">О проекте</h3>

              <ul class="works-card__list">
                <li class="works-card__item">
                  <p class="works-card__text">Тип нанесения:</p>
                  <p class="works-card__quantity">Под обои и покраску</p>
                </li>
                <li class="works-card__item">
                  <p class="works-card__text">Стоимость работ:</p>
                  <p class="works-card__quantity">38 950 <span>руб</span></p>
                </li>
                <li class="works-card__item">
                  <p class="works-card__text">Срок выполнения:</p>
                  <p class="works-card__quantity">4 дня</p>
                </li>
                <li class="works-card__item">
                  <p class="works-card__text">Общая площадь по стенам:</p>
                  <p class="works-card__quantity">245 м<sup>2</sup></p>
                </li>
              </ul>
            </div>
            <div class="works-card__box">
              <h3 class="works-card__heading">Материалы</h3>

              <ul class="works-card__list">
                <li class="works-card__item">
                  <p class="works-card__text">Штукатурка</p>
                  <p class="works-card__quantity">460 кг</p>
                </li>
                <li class="works-card__item">
                  <p class="works-card__text">Грунтовка</p>
                  <p class="works-card__quantity">20 л</p>
                </li>
                <li class="works-card__item">
                  <p class="works-card__text">Армированные углы</p>
                  <p class="works-card__quantity">12 шт.</p>
                </li>
              </ul>
            </div>

            <button class="works-card__btn btn btn-consultation" type="button">
              У меня охожий объект
            </button>
          </div>
          <div class="works-card__preview">
            <img src="images/content/works/1.jpg" alt="Квартира" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
